@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'varela Round' , sans-serif;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    margin: 23px auto;
    background-image: url('./COVERS/og.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.container h1{
    color: red;
    font-family: "Science Gothic", sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 3rem;
}

.bottom{
    position: sticky;
    height: 130px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}


.songlistplay {
    display: flex;
    align-items: center;
    gap: 8px;
}
.songItem .songItemPlay {
    font-size: 1.2rem;
    cursor: pointer;
}


.songItem {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
    border-radius: 34px;
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-weight: bolder;
}


.songItem img{
    width: 60px;
    margin: 0 23px;
}

.songName{
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timestamp {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timestamp i{
    cursor: pointer;
    
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}